body{
    background-color: #F3F5FC ;
}

.ocultar{
    display: none;
}

/*-----------------LOGO--------------------*/
.logo{
    width: 70%;
    height: 15%;
    float: left;
}

.logo-img{
    position: static;
    margin: 20px 0 0 40px;
}
/*-----------------TEXTO IZQUIERDO--------------------*/
.text-left{
    background-color: none;
    width: 65%;
    height: 65%;
    float: left;
    border-radius: 24px;
    margin-left: 5%;
}

#text-area{
    position: relative;
    display: block;
    margin: 6px auto;
    padding: 10px;
    width: 98.5%;
    height: 97%;
    font-size: 25px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 24px;
    color: #0A3871;
    border: 4px solid #0A3871;
    font-family: 'Inter', sans-serif;
}

#text-area::placeholder{
    color: #0A3871;
}

/*-----------------BOTONES--------------------*/
.left-button{
    position: relative;
    float: left;
    width: 65%;
    height: 19%;
    margin-left: 5%;
    border-radius: 24px;
}

.advertencia{
    position: relative;
    width: auto;
    margin-left: 60px;
}

.img-advertencia{
    position: relative;
    top: 4px;
}

.texto-advertencia{
    display: inline-block;
    margin: 15px 5px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #495057;
}

.boton_texto{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42%;
    height: 67px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .2s ease all;
    border-radius: 24px;
    position: relative;
    margin-top: 7px;
    margin-left: 38px;
    overflow: hidden;
    border: 1px solid #0A3871;
}

.boton_texto span{
    position: relative;
    z-index: 2;
    transition: .2s ease all;
}

.boton_texto::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: -67px;
    left: 0;
    transition: .2s ease-in-out all;
}

.encriptar{
    background-color: #0A3871;
    color: #FFFFFF;
}

.encriptar::after{
    background: #072B61 ;
}

.encriptar:hover::after{
    top: 0;
    color: #FFFFFF;
}

.desencriptar{
    background-color: #FFFFFF;
    color: #0A3871;
}

.desencriptar::after{
    background: #D8DFE8 ;
}

.desencriptar:hover::after{
    top: 0;
    color: #FFFFFF;
}


/*-----------------TEXTO DERECHO--------------------*/

.text-right{
    background-color: #FFFFFF;
    width: 25%;
    margin: -75px 2.5% 10px;
    height: 94%;
    float: right;
    border-radius: 24px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.img-muñeco{
    margin: 10% 5%;
    width: 90%;
    height: 270px;
    margin-top: 80px;
}
.container-parrafo{
    font-family: 'Inter', sans-serif;
}

.first-parrafo{
    width: 100%;
    height: 10%;
    text-align: center;
    line-height: 28.8px;
    font-size: 24px;
    font-weight: 700;
    margin: 18px 0 0 0;
    color: #343A40;
}

.sec-parrafo{
    width: 100%;
    height: 10%;
    text-align: center;
    margin: 18px 0 100px 0;
    color: #495057;
    font-size: 15px;
}

#text-area-right{
    color: #495057;
    width: 100%;
    height: 88%;
    border-radius: 24px;
    border: none;
    outline: none;
    resize: none;
    font-size: 24px;
    padding: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 36px;
    cursor: default;
}

#copiar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 67px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .2s ease all;
    border-radius: 24px;
    position: relative;
    margin-left: 10px;
    overflow: hidden;
    border: 1px solid #0A3871;
    background-color: #FFFFFF;
    color: #0A3871;
}

#copiar span{
    position: relative;
    z-index: 2;
    transition: .2s ease all;
}

#copiar::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: -67px;
    left: 0;
    transition: .2s ease-in-out all;
    background: #D8DFE8 ;
}

#copiar:hover::after{
    top: 0;
}













